* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.top-bar {
    margin-bottom: 20px; 
}

.projeto img {
    max-width: 60%;
    height: auto;
    display: block; 
    margin: 20px auto; 
    border: 4px solid #FFC55A;
    border-radius: 20px;
}

button {
    display: block; 
    margin: 30px auto; 
    padding: 15px 30px;
    background-color: #FFC55A;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 20px; 
    transition: background-color 0.3s ease, transform 0.3s ease;  
}

button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

button:hover {
    background-color: #ffe0a8;
    transform: translateY(-5px); 
    cursor: pointer;
}

